<h1> <%= @project.name%></h1>

<p><%= image_tag @project.image(:medium)%></p>
<p><%= @project.content%></p>

<ul>
	<li>
		<% @tasks.each do |task|%>
			<%= link_to [task.project, task] do %>
				<li>
				<%= task.note%>
				</li>
			<% end %>
		<% end %>
	</li>
</ul>